<ion-menu side="start" menuId="first" contentId="main" toggle="true">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Start Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-menu-toggle>
      <ion-list>
        <ion-item routerLink="/tabs/tab1">tab1</ion-item>
        <ion-item routerLink="/tabs/tab2">tab2</ion-item>
        <ion-item routerLink="/tabs/tab3">tab3</ion-item>
        <ion-item>Menu Item</ion-item>
        <ion-item>Menu Item</ion-item>
        <ion-item (click)="logout()">Logout</ion-item>
      </ion-list>
    </ion-menu-toggle>
  </ion-content>
</ion-menu>
<!-- <ion-router-outlet id="main"></ion-router-outlet> -->
